#page {
	height: 1100px;
}
.aboutUsDiv {
	width: 95%;
	margin: 10px auto;
}
.aboutUsDiv > p {
	text-indent: 2em;
}
.aboutUsDiv > p:nth-of-type(1) {
	font-size:1.5em;
	color: #ffa200;
	text-align: center;
}
.listContent {
	width: 95%;
	margin:70px auto; 
}
.listContent > .teamDiv {
	position: relative;
	float: left;
	width: 200px;
	height: 200px;
	background-color: white;
	border: 1px solid #eee;
	box-shadow: 1px 1px 5px #ccc;
	margin:0 10px 50px 15px;
}
.teamDiv > .headPic {
	position: absolute;
	top: -40px;
	left: 50%;
	background-image:url(../pic/index/headPic.png);
	background-repeat: no-repeat;
	background-size: 240%;
	border-radius: 50%;
	border:1px solid #eee;
	height: 150px;
	width: 150px;
	margin-left: -75px;
	box-shadow: 2px 4px 10px #aaa;
}
.boy {
	background-position: 99% 50%;
}
.girl {

}
.teamDiv > .teamName {
	position: absolute;
	top: 53%;
	text-align: center;
	width: 100%;
	color: #555;
	font-family: Microsoft YaHei;
}
.teamDiv > .teamWork {
	position: absolute;
	top: 70%;
	width: 100%;
	text-align: center;
}
.teamDiv > .teamSkill {
	position: absolute;
	top: 80%;
	width: 100%;
	text-align: center;
}