.listBlockContent {
	width: 95%;
	margin: 10px auto;
}
.newsBlock {
	position: relative;
	display: block;
	width: 100%;
	height: 180px;
	border-bottom:1px solid #eee;
	transition: border 0.5s;
}
.newsBlock:hover {
	background-color: #fcfcfc;
	border-color: #ffa200;
}
.newsBlock > .newsPic {
	position: absolute;
	top: 40px;
	left: 10px;
	width: 180px;
	height: 120px;
	background-image: url(../pic/index/exp.png);
	background-size: 90%;
	background-repeat: no-repeat;
}
.newsHeader {
	position: absolute;
	top: 10px;
	left: 10px;
	margin:0;
	font-size: 1.3em;
	font-weight: bold;
}
.newsCont {
	position: absolute;
	top: 40px;
	left: 200px;
	margin: 0;
	width: 400px;
	color: #777;
}
.newsTime {
	position: absolute;
	bottom: 0px;
	left: 10px;
	margin: 0;
	color: #777
}