#page {
	height: 1000px;
}
.forumMenu {
	width: 95%;
	margin: 10px auto;
}
.forumMenu > .menuBlock {
	position: relative;
	float: left;
	display: block;
	width: 200px;
	height: 80px;
	margin-right: 20px;
	background-repeat: no-repeat;
	border: 1px solid #eee;
	border-left: 3px solid #ffa200;
}
.menuBlock:hover {
	background-color: #fcfcfc;
}
.menuHeader {
	position: absolute;
	top: 5px;
	left: 80px;
	margin:0;
	font-size: 20px;
	font-weight: bold;
}
.menuCountS {
	position: absolute;
	top:30px;
	left: 80px;
	margin:0;
	font-size: 15px;
	color: #777;
}
.menuCountS > span {
	color: blue;
}
.menuCountB {
	position: absolute;
	top:45px;
	left: 80px;
	margin:0;
	font-size: 15px;
	color: #777;
}
.menuCountB > span {
	color: blue;
}
.menuLatest {
	position: absolute;
	bottom:2px;
	left: 80px;
	margin:0;
	font-size: 10px;
	color: #777;
}
.menuLatest > span {
	color: #ffa200;
}
#newBird {
	background-image:url(../pic/index/bird.png); 
	background-position: 15px 50%;
}
#expertBird {
	background-image:url(../pic/index/id.png); 
	background-position: 15px 50%;
}
#strongBird {
	background-image:url(../pic/index/comment.png); 
	background-position: 15px 50%;
}
#codeSpace {
	background-image:url(../pic/index/code.png); 
	background-position: 15px 50%;
}
#modelSpace {
	background-image:url(../pic/index/model.png); 
	background-position: 15px 50%;
}
#softSpace {
	background-image:url(../pic/index/soft.png); 
	background-position: 15px 50%;
}
.pageNav {
	position: relative;
	width: 95%;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
}
.newForum {
	float: left;
	display: block;
	width: 100px;
	height: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	border:1px solid #ffa200;
	border-radius: 5px;
	transition: background 0.3s;
}
.newForum:hover {
	background-color: #ffa200;
}
.newForum:hover > p {
	color: white;
}
.newForum > p {
	width: 100%;
	text-align: center;
	margin-top: 5px;
	color: #ffa200;
	font-size: 20px;
	transition: color 0.3s;
}
.pageNav > ul {
	position: absolute;
	right: 0px;
	top: 23%;
	list-style: none;
	margin: 0;
	padding: 0;
}
.pageNav > ul > li {
	float: left;
	display: block;
	padding: 2px;
	margin-left: 2px;
	margin-right: 2px;
	border: 1px solid #eee;
}
.pageNav > ul > li:hover {
	background-color: #ddd;
}
.pageNav > ul > li:hover > a {
		color: white;
}
.pageNum {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
}
.forumList {
	width: 95%;
	margin:0 auto;
}
.forumBar {
	display: block;
	height: 30px;
	width: 100%;
	position: relative;
	border-bottom: 1px solid #eee;
	background-image: url(../pic/index/up.png);
	background-repeat: no-repeat;
	background-position: 0px 50%;
	background-size: 2%;
}
.forumTitle {
	position: absolute;
	width: 350px;
	top: 8px;
	left: 20px;
	margin: 0;
}
.forumWriter {
	position: absolute;
	width: 100px;
	top: 8px;
	left: 500px;
	margin: 0;
	color: #777;
}
.forumTime {
	position: absolute;
	width: 100px;
	top: 8px;
	left: 630px;
	margin: 0;
	color: #777;
}